html {
    background-color: #E9E9E9;
}

body {
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    height: 100vh;
    color: #000000;
    overflow: hidden;
    z-index: 0;
}

header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.name, .job {
    margin: 0px;
}

.name {
    font-size: 2em;
}

.job {
    font-size: 1.5em;
}

.profile-picture {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url(images/profile-picture.webp);
    background-size: cover;
    background-position: center;
}

.profile-infos {
    display: flex;
}

.profile-infos div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.contact-section {
    display: flex;
    align-items: center;
    width: auto;
}

.contact-btn {
    margin-right: 50px;
    position: relative;
}

/* A ajuster */
/* .contact-container {
    height: 20px;
    width: 100px;
    background-color: #000000;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.contact-container span {
    color: white;
    font-size: 1.5em;
    text-shadow: 0px 0px 20px black;
}

.contact-background {
    background-color: #124E68;
    height: 300px;
    width: 300px;
    box-shadow: inset 0px 0px 15px black;
    position: absolute;
    transform: rotate(45deg);
    left: -90px;
    top: -220px;
    z-index: -1;
}




main {
    display: flex;
    width: 100%;
}

.infos-section {
    display: flex;
    flex-direction: column;
    width: 35%;
    padding-left: 40px;
}

.profile-description p {
    padding-left: 20px;
    margin: 0px;
    font-weight: bold;
    backdrop-filter: blur(3px);
}


.projects {
    margin-top: 100px;
    width: 275px;
    backdrop-filter: blur(3px);
}

.projects h2 {
    font-size: 1.5em;
}

.projects-list {
    padding-left: 20px;
}

.projects-list li {
    display: flex;
    align-items: center;
    padding: 10px 10px;
}

.projects-interline {
    width: 100%;
    height: 1px;
    background-color: black;
    box-shadow: 0px 0px 10px #000000;
}

.projects-list li img {
    height: 25px;
    width: 25px;
    padding-right: 15px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    padding-right: 150px;
}

.project-img {
    max-width: 600px;
    max-height: 500px;
    background-image: url(images/helov.webp);
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.project-name {
    font-size: 3em;
    margin: 15px;
    backdrop-filter: blur(3px);
}

.project-description {
    backdrop-filter: blur(3px);
}



/* Bottom left triangles */


.triangle {
    position: fixed;
    bottom: -150px;
    left: -150px;
}

.triangle1 {
    height: 300px;
    width: 300px;
    background-color: #124E68   ; /* couleur du triangle */
    box-shadow: 0px 0px 10px black;
    transform: rotate(45deg);
    z-index: 3;
}

 .triangle2 {
    height: 300px;
    width: 300px;
    background-color: #124E68   ; /* couleur du triangle */
    box-shadow: 0px 0px 10px black;
    left: 0px; /* décalage pour le positionnement */
    bottom: -200px;
    transform: rotate(45deg);
    z-index: 2;
}

.triangle3 {
    height: 300px;
    width: 300px;
    background-color: #124E68   ; /* couleur du triangle */
    box-shadow: 0px 0px 10px black;
    left: 150px; /* décalage pour le positionnement */
    bottom: -250px;
    transform: rotate(45deg);
    z-index: 1;
} 



@media screen and (max-width: 1098px) {
    
}







/* Bubble animation */
.bubble {
    position: fixed;
    bottom: -50px;
    width: 20px;
    height: 20px;
    background: #124e68;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.55);
    border-radius: 5%;
    animation: bubble 20s linear infinite;
    z-index: -1;
}

@keyframes bubble {
    0% {
        transform: translateY(0) scale(1);
    }
    100% {
        transform: translateY(-100vh) scale(0);
    }
}